@page
@model KoiShowManagement.WebApp.Pages.Home.IndexModel

@{
    Layout = null; // nếu bạn đang sử dụng một layout khác có thể bỏ đi
}

<div class="jumbotron text-center">
    <h1 class="display-4">Chào mừng đến với Koi Show Management</h1>
    <p class="lead">Hệ thống quản lý cuộc thi cá Koi trực tuyến.</p>
    <hr class="my-4">
    <p>Tìm hiểu về cuộc thi và các tính năng khác.</p>
    <a class="btn btn-primary btn-lg" href="/Home/Competitions" role="button">Xem các Cuộc thi</a>
</div>
