<nav>
    <ul>
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="/CompetitionResult">Kết Quả Cuộc Thi</a></li>
        <li><a href="/Event">Sự Kiện</a></li>
        <li><a href="/Koi">Koi</a></li>
        <li><a href="/Account/Login">Đăng Nhập</a></li>
        <li><a href="/Account/Register">Đăng Ký</a></li>
    </ul>
</nav>
