/* Layout trang đăng nhập */
body {
    background-color: #f1f1f1;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

/* Các input trong đăng nhập */
input[type="text"], input[type="password"], .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

    .register-link a {
        color: #007bff;
        text-decoration: none;
    }

        .register-link a:hover {
            text-decoration: underline;
        }
